@model HomeModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <p>@Localizer["Explore"]</p>
</div>

@if (Model.Message != null && @Model.Message != "")
{
    <div class="alert alert-success">
        <p>@Model.Message</p>
    </div>
}
