body {
    background-color: rgba(33, 37, 38, 1);
    color: white;
    font-family: Karla;
}
#ArtistTable {
    text-align: center;
}

#ArtistTable {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1em;
}

#tbody td {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(172, 200, 199);
    padding: 5px 20px;
}

#thead {
    background-color: rgba(134, 159, 156, 1);
    color: white;
}

#thead th {
    padding: 5px 20px;
}

input[type="submit"] {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}

input[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

